
header{
  border: 5px solid #D4AFB9;
  border-box:box-sizing;
}
.CuerpoWeb{
  
  width:100%;
  height:100%;
  
  box-sizing:border-box;
 
  
}

.MenuPrincipal
{
  width:100%;
  max-width:500px;
  height: 50px;
  display:flex;
  border:5px solid #D4AFB9;
  font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  
}

.MenuPrincipal a
{
  text-decoration:none;
  color:#000000;
  
}

.MenuPrincipal div
{
  background:#D4AFB9;
   text-align:center;
  width:25%;
  padding:2%;
}

.BlogCuerpo 
{
  background:#D4AFB9;
 
  border: 5px solid #D4AFB9;
   font-family: "Lato", serif;
  font-weight: 400;
  font-style: normal;
  text-align:justify;
 
}

.BlogCuerpo div
{
  padding-top:2%;
}
.MenuPrincipal div:hover
{
  background:#6C3A5C;
}

.MenuPrincipal .active:hover
{
  background:#F56476;
}
.MenuPrincipal .active
{
  background:#F56476
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
  header{
    min-width:100%;
  
    height:30%;
    min-height: 250px;
  }
  
  .MenuPrincipal
{
  min-width:100%;
  
  height: 50px;
  flex-direction:column;
  border:0px solid;
  
}
  
   .MenuPrincipal div
  {
    min-width:100%;
   
  }
  
  .BlogCuerpo{
    min-width:100%;
    height:100%;
    padding-top:20%;
    
    
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  
   header{
    width:80%;
    min-width: 500px;
    height: 500px;
    margin:0 auto;}
}
.MenuPrincipal
{
  width:80%;
  max-width:500px;
  height: 50px;
  margin:0 auto;
  
}

  .BlogCuerpo{
    width:80%;
    padding-top:3%;
    margin: 0 auto;
    
  }
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  
  
  header{
    width:85%;
    max-width: 500px;
    height: 250px;
    margin:0 auto;
  }
  
    .BlogCuerpo{
   
     min-width:80%;
  max-width:500px;
  margin:0 auto;
    
  }


}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  
  header{
   width:100%;
    max-width: 500px;
    height: 250px;}
  
   .BlogCuerpo{
     min-width:80%;
  max-width:500px;
  margin:0 auto;
    
  }


}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {header{
    width:100%;
    max-width: 500px;
    height: 250px;}

/* .BlogCuerpo{
    width:80%;
    min-width:500px;
    min-height:100%;
    
    
  }*/

}
